.cli-window {
  height: 100%;
  overflow: auto;
  padding-bottom: 3rem;
  backdrop-filter: blur(10px);
  background: rgba(20, 20, 20, 0.85);

  div[name="react-console-emulator"] {
    height: 100%;
    background-color: transparent !important;

    div[name="react-console-emulator__content"] {
        white-space: pre;
    }

    input[name="react-console-emulator__input"] {
      caret-color: #00ff00; 
    }
  }
}