.window{
    height: 300px;
    width: 500px;
    background-color: #000000;
    border-radius: 0.75rem;
    overflow: hidden;
    color: #ececec;

    .nav{

        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.25);
        gap: 1rem;
        align-items: center;

        .dots{
            display: flex;
            gap: 0.25rem;
        }
        .dot{
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: #fff;
        }
        .red{
            background-color: #d20000;
        }
        .yellow{
            background-color: #d2d200;
        }
        .green{
            background-color: #00d200;
        }
    }
}