.window{
    height: 300px;
    width: 500px;
    background-color: #000000;
    border-radius: 10px;

    .nav{
        .dots{
            display: flex;
            gap: 0.25rem;
        }
        .dot{
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}