.dock {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  position: fixed;
  z-index: 99;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(53, 53, 53, 0.65);
  backdrop-filter: blur(8px);
  padding-inline: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 1.5rem;
  height: auto;
  min-height: 60px;

  .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.65rem;
    border-radius: 0.75rem;
    height: 2.75rem;
    width: 2.75rem;
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    cursor: pointer;

    .active-dot {
      position: absolute;
      bottom: -10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: white;
    }
  }

  .github, 
  .cli {
    background-color: black;
  }

  .note {
    background: linear-gradient(
      to bottom,
      rgb(255, 179, 87),
      rgb(255, 153, 28)
    );
  }

  .pdf {
    background: linear-gradient(145deg, #ff4b4b, #c62828);
  }

  .calendar,
  .mail {
    background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
  }

  .spotify {
    background: linear-gradient(145deg, #1db954, #159643);
  }

  .link {
          padding: 0;
    img {
          background: #0077B7;
          border-radius: 0.75rem;
          height: 100%;
    }
  }

}

.icon:hover{
        transform: scale(1.25) translateY(-20%);
        
    }
    .icon:hover + .icon,
    .icon:has(+ .icon:hover){
        transform: scale(1.15) translateY(-10%);
    }
